:root{
  --text-primary:#F5C518;
  --text-secondary: #fff;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;
  background: #fff;
  background-image: url('../public/images/bg2.png'), linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
